body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
#header{
background-image: url("image/header-bg.png");
height: 700px;
width: 100%;
background-repeat: no-repeat;
border: 1px solid red;
}
.name{
    color: red;
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    
}

.link-button{
    padding: 10px 20px;
    text-decoration: none;
    border: 0px solid;
    background-image: linear-gradient(tomato,rgb(185, 94, 71));
    border-radius: 5px;
    color: white;
}
.button-link{
    padding:10px 20px;
    text-decoration: none;
    border: 0px solid;
    background-image: linear-gradient(tomato, tomato);
    border-radius: 5px;
    color:white;
}
.info{
    padding-top: 120px;
}
.my-pic{
    padding-top: -80px;
}

.half-width{
    width: 35%;
    float: left;
    padding-left: 10%;
    padding-top: 120px;
    
    
}
.half-width img{
    width: 100%;
}
.dream{
    background-image: url("image/biography-bg.png");
    height: 800px;
    background-repeat: no-repeat;
    border: 1px dashed blue;
    width: 100%;

}
#lekha{
    padding-top:15%;
}

.third-width{
    width: 28%;
    float: left;
    padding-bottom: 200px;
   padding-left: 10px;
    margin-left: 3%;
    
}

.work{
height: 350px;
border: 1px solid royalblue;
width: 100%;

}

.third-width img{
    width: 100%;
}

h1{
    text-align: center;
}
.footer-demo{
    background-image: url(image/footer-bg.png);
    height:80%;
    text-align: center;
    border: 2px solid black;
    width: 100%;
    
}

.emai{
    border: 0 solid;
    border-radius: 5px;
    background-image: linear-gradient(orange,red,tomato);
    display:inline-block;
    padding: 2px 100px;
    
    margin-bottom: 100px;
}
.demo-text{
    margin-bottom: 50px;
}
demo text h4{
    color: black;
    font-weight: bold;
    font-size: 16px;
}

